html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal; }

ol,
ul {
  list-style: none; }

button,
input,
a {
  outline: none; }

a {
  text-decoration: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

q:before,
q:after {
  content: ""; }

abbr,
acronym {
  border: 0; }

.header {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  background-color: #008aff; }

@media screen and (max-width: 999px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__logo {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

.nav {
  width: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    margin: 0 3%; }
    .nav__item:first-child {
      margin-left: 4%; }
    .nav__item:last-child {
      margin-left: auto; }
  .nav__link {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s ease, text-shadow 0.1s ease;
    transition: all 0.4s ease, text-shadow 0.1s ease; }
    .nav__link:hover {
      color: #ff9c8e; }
    .nav__link:active {
      text-shadow: 4px 4px 8px rgba(9, 20, 31, 0.7); }
    .nav__link:hover::after, .nav__link--active::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -8px;
      left: 0;
      border-radius: 4px;
      background: #ff9c8e; }

@media screen and (max-width: 999px) {
  .nav {
    position: fixed;
    top: 70px;
    left: 20px;
    z-index: 3; }
    .nav__list {
      display: none;
      margin: 0 20px;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
    .nav__item {
      padding: 16px 0;
      margin: 0; }
      .nav__item:first-child {
        margin-left: 0; }
    .nav__link {
      font-size: 20px; }
      .nav__link:hover {
        color: #008aff; }
      .nav__link:hover::after, .nav__link--active::after {
        background: #008aff; }
  .menu {
    position: fixed;
    width: 35px;
    height: 30px;
    margin: 35px 0 20px 40px;
    cursor: pointer; }
  .bar {
    height: 5px;
    background-color: #ff9c8e;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  .bar__first {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }
  .bar__third {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  .menu-bg,
  .menu-bar {
    position: absolute;
    top: 0;
    left: 0; }
  .menu-bg {
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #ff9c8e, #ff9c8e);
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 2; }
  .menu-bar {
    z-index: 3; }
  .change-bg {
    position: fixed;
    width: 750px;
    height: 740px;
    -webkit-transform: translate(-60%, -30%);
            transform: translate(-60%, -30%); }
  .change .bar {
    background-color: #fff; }
  .change .bar__first {
    -webkit-transform: translateY(4px) rotateZ(-45deg);
            transform: translateY(4px) rotateZ(-45deg); }
  .change .bar__third {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg); }
  .change .bar__second {
    opacity: 0; }
  .change {
    display: block; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 680px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 200px;
  position: relative;
  overflow: hidden; }
  .gallery__box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    line-height: 0; }
    .gallery__box:hover {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 80%;
              flex: 1 1 80%; }
  .gallery__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease; }
    .gallery__image:hover {
      width: 100%;
      height: 100%; }
  .gallery__name {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #253757;
    position: absolute;
    left: 90px;
    bottom: 96px; }
  .gallery__text {
    max-width: 264px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #253757;
    position: absolute;
    left: 90px;
    bottom: 48px; }

@media screen and (max-width: 999px) {
  .gallery {
    border-bottom-left-radius: 200px; }
    .gallery__name {
      margin-bottom: 10px; } }

@media screen and (max-width: 699px) {
  .gallery {
    height: 480px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px; }
    .gallery__name, .gallery__text {
      left: 70px; } }

@media screen and (max-width: 399px) {
  .gallery__name,
  .gallery__text {
    left: 60px; } }

.button {
  width: 226px;
  height: 50px;
  border-radius: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border: 3px solid #ff9c8e;
  background: #fff;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color 0.8s ease, -webkit-box-shadow 0.2s ease;
  transition: color 0.8s ease, -webkit-box-shadow 0.2s ease;
  transition: color 0.8s ease, box-shadow 0.2s ease;
  transition: color 0.8s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  outline: none; }
  .button:hover {
    color: #ff9c8e; }
  .button::before {
    content: "";
    width: 100%;
    height: 140%;
    background: #ff9c8e;
    border-radius: 50% 50% 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease; }
  .button:hover::before {
    height: 0%; }
  .button:active {
    -webkit-box-shadow: 5px 5px 10px rgba(9, 20, 31, 0.7);
            box-shadow: 5px 5px 10px rgba(9, 20, 31, 0.7); }

.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  padding-left: 10%; }

.info {
  -ms-flex-item-align: center;
      align-self: center; }
  .info__name {
    max-width: 490px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .info__text {
    max-width: 460px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin: 32px 0 56px; }

@media screen and (max-width: 999px) {
  .title {
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 80px; }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 12%; } }

@media screen and (max-width: 699px) {
  .title {
    padding-left: 0;
    border-bottom-right-radius: 200px; } }

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24%; }
  .preview__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-top: 148px;
    margin-bottom: 16px;
    color: #253757; }
  .preview__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 148px;
    color: #6c788b; }

@media screen and (max-width: 999px) {
  .preview {
    padding: 0 12%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .preview__name {
      margin-top: 100px; }
    .preview__text {
      margin-bottom: 100px; } }

.expertise {
  min-height: 770px;
  padding-top: 100px;
  background-color: #fff; }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 64px; }
  .expertise__content {
    display: grid;
    grid-template-columns: repeat(3, 265px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 5%; }

.card__front {
  border-radius: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  cursor: pointer; }
  .card__front__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 265px;
    height: 338px; }

.card__back {
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  cursor: pointer; }
  .card__back__image {
    width: 166px;
    height: 166px;
    border-radius: 24px;
    margin-bottom: 40px; }
  .card__back__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px;
    color: #253757; }
  .card__back__text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }

.card:hover > .card__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg); }

.card:hover > .card__back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg); }

@media screen and (max-width: 999px) {
  .expertise {
    min-height: 1450px; }
    .expertise__content {
      grid-template-columns: repeat(1, 265px);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-gap: 120px; }
    .expertise__title {
      font-size: 35px;
      margin-bottom: 30px; }
  .card__front {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.process {
  padding: 130px 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__heading {
    max-width: 365px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 5%; }
  .process__content {
    margin-bottom: -90px;
    display: grid;
    gap: 30px;
    grid-template-areas: ". two" "one two" "one four" "three four" "three ."; }
    .process__content--one {
      grid-area: one; }
    .process__content--two {
      grid-area: two; }
    .process__content--three {
      grid-area: three; }
    .process__content--four {
      grid-area: four; }

.heading__name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.heading__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #253757;
  margin: 24px 0; }

.heading__text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b; }

.card {
  width: 264px;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px; }
  .card__span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px; }
    .card__span--blue {
      background: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .card__span--yellow {
      background: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .card__span--green {
      background: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .card__span--red {
      background: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 32px; }
  .card__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../images/sub-title/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px; }
    .card__button--blue {
      background-color: #56ccf2;
      border: 2px solid #56ccf2; }
    .card__button--yellow {
      background-color: #fcc91d;
      border: 2px solid #fcc91d; }
    .card__button--green {
      background-color: #15d850;
      border: 2px solid #15d850; }
    .card__button--red {
      background-color: #f36363;
      border: 2px solid #f36363; }
  .card__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

@media screen and (max-width: 999px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 12%; }
    .process__heading {
      margin-right: 0;
      margin-bottom: 50px; }
    .process__content {
      grid-template-areas: "one two" "three four";
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media screen and (max-width: 699px) {
  .process__content {
    grid-template-areas: "one" "two" "three" "four"; } }

.work {
  min-height: 940px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background: #ff9c8e;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5%;
  padding-left: 10%; }
  .work__content {
    max-width: 370px;
    -ms-flex-item-align: center;
        align-self: center; }
  .work__image {
    width: 100%;
    height: 680px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 200px; }

.content {
  padding: 12% 0; }
  .content__name {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .content__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 32px; }
  .content__inform {
    display: grid;
    grid-template-columns: 64px 1fr;
    row-gap: 64px;
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.inform__icon {
  height: 64px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.inform__text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%; }

@media screen and (max-width: 999px) {
  .work {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 150px; }
    .work__image {
      border-bottom-left-radius: 200px; } }

@media screen and (max-width: 699px) {
  .work {
    border-bottom-right-radius: 200px; }
    .work__image {
      height: 480px;
      width: 112%;
      border-top-right-radius: 200px;
      border-bottom-right-radius: 200px;
      margin-left: -12%; }
  .content__name {
    text-align: center; }
  .content__title {
    padding-left: 15%; }
  .inform {
    row-gap: 40px; }
    .inform__text {
      padding-right: 10%; } }

.testimonials {
  padding: 130px 10% 148px; }
  .testimonials__name {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px; }
  .testimonials__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 85px; }
  .testimonials__content {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.person {
  height: 495px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 87px 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .person::before, .person::after {
    content: "";
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    position: absolute; }
  .person::before {
    top: 20%;
    left: 10%; }
  .person::after {
    top: 35%;
    right: 10%;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }
  .person--one::before, .person--one::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#096888), to(#77d7f7));
    background: linear-gradient(180deg, #096888 0%, #77d7f7 100%); }
  .person--two::before, .person--two::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc304), to(#f7e094));
    background: linear-gradient(180deg, #fcc304 0%, #f7e094 100%); }
  .person--three::before, .person--three::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#be0f0f), to(#f18080));
    background: linear-gradient(180deg, #be0f0f 0%, #f18080 100%); }
  .person__image {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 82px;
    z-index: 1; }
  .person__quotes {
    margin-bottom: 2px; }
  .person__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 16px; }
  .person__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 4px; }
  .person__position {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7;
    letter-spacing: 3px;
    text-transform: uppercase; }

@media screen and (max-width: 1199px) {
  .testimonials__name,
  .testimonials__title {
    text-align: center; }
  .testimonials__content {
    grid-template-columns: repeat(2, 315px);
    grid-gap: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .person:last-child {
    -webkit-transform: translateX(60%);
            transform: translateX(60%); } }

@media screen and (max-width: 699px) {
  .testimonials {
    margin-bottom: 100px; }
    .testimonials__content {
      grid-template-columns: repeat(1, 315px); }
  .person:last-child {
    -webkit-transform: none;
            transform: none; } }

.epilogue {
  padding: 200px 20%;
  position: relative;
  background-color: #fff;
  text-align: center; }
  .epilogue__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    position: relative;
    z-index: 1;
    margin-bottom: 24px; }
  .epilogue__text {
    max-width: 755px;
    display: inline-block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    position: relative;
    z-index: 1;
    margin-bottom: 64px; }
  .epilogue__button {
    position: relative;
    z-index: 1; }
  .epilogue .rectangle-small {
    width: 45px;
    height: 18px;
    border: 3px solid #000;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    position: absolute;
    border-radius: 50px;
    opacity: 0.4; }
    .epilogue .rectangle-small:nth-of-type(1) {
      border-color: #fcc304;
      top: 5%;
      left: 30%; }
    .epilogue .rectangle-small:nth-of-type(2) {
      border-color: #fcc304;
      bottom: 25%;
      left: 32%; }
    .epilogue .rectangle-small:nth-of-type(3) {
      border-color: #bc04fc;
      top: 45%;
      right: 5%; }
    .epilogue .rectangle-small:nth-of-type(4) {
      border-color: #bc04fc;
      bottom: 15%;
      right: 35%; }
    .epilogue .rectangle-small:nth-of-type(5) {
      border-color: #56ccf2;
      bottom: 35%;
      left: 5%; }
  .epilogue .rectangle-middle {
    width: 85px;
    height: 33px;
    border: 4px solid #000;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    position: absolute;
    border-radius: 50px;
    opacity: 0.4; }
    .epilogue .rectangle-middle:nth-of-type(6) {
      border-color: #f25656;
      top: 15%;
      left: 15%; }
    .epilogue .rectangle-middle:nth-of-type(7) {
      border-color: #bc04fc;
      bottom: 10%;
      left: 10%; }
    .epilogue .rectangle-middle:nth-of-type(8) {
      border-color: #f25656;
      top: 20%;
      right: 5%; }
    .epilogue .rectangle-middle:nth-of-type(9) {
      border-color: #fcc304;
      top: 55%;
      right: 20%; }
  .epilogue .rectangle-big {
    width: 143px;
    height: 56px;
    border: 5px solid #000;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    position: absolute;
    border-radius: 50px;
    opacity: 0.4; }
    .epilogue .rectangle-big:nth-of-type(10) {
      border-color: #03d542;
      top: 25%;
      right: 15%; }
    .epilogue .rectangle-big:nth-of-type(11) {
      border-color: #56ccf2;
      bottom: 25%;
      right: 10%; }
    .epilogue .rectangle-big:nth-of-type(12) {
      border-color: #f25656;
      top: 50%;
      left: 15%; }

@media screen and (max-width: 1199px) {
  .rectangle-big {
    display: none; } }

@media screen and (max-width: 699px) {
  .epilogue__name {
    font-size: 32px;
    line-height: 130%; } }

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
